<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ferguson.cs.product.dao.attribute.AttributeDefinitionMapper">

	<resultMap id="AttributeDefinitionValueResultMap" type="com.ferguson.cs.model.attribute.AttributeDefinitionValue">
		<id column="enumeratedValueId" property="id" />
		<result column="enumeratedValue" property="value" />
		<result column="enumeratedDisplayValue" property="displayValue" />
	</resultMap>

	<resultMap id="UnitOfMeasureRefResultMap" type="com.ferguson.cs.model.attribute.UnitOfMeasureReference">
		<id column="uomId" jdbcType="INTEGER" property="id" />
		<result column="uomCode" jdbcType="VARCHAR" property="code" />
		<result column="uomName" jdbcType="VARCHAR" property="name" />
		<result column="uomDescription" jdbcType="VARCHAR" property="description" />
	</resultMap>
	<resultMap id="attributeDefinitionResultMap" type="com.ferguson.cs.model.attribute.AttributeDefinition">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="attributeDatatypeId" jdbcType="INTEGER" property="datatype"  typeHandler="com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="createdTimestamp" jdbcType="TIMESTAMP" property="createdTimestamp" />
		<result column="lastModifiedTimestamp" jdbcType="TIMESTAMP" property="lastModifiedTimestamp" />
		<result column="version" jdbcType="SMALLINT" property="version" />
		<association property="unitOfMeasure" resultMap="UnitOfMeasureRefResultMap"/>
		<collection property="enumeratedValues" resultMap="AttributeDefinitionValueResultMap" />
	</resultMap>

	<select id="findAttributeDefinitionList" resultMap="attributeDefinitionResultMap">
		select
			attr.id as id,
			attr.code as code,
			attr.attributeDatatypeId as attributeDatatypeId,
			attr.description as description,
			attr.createdTimestamp as createdTimestamp,
			attr.lastModifiedTimestamp as lastModifiedTimestamp,
			attr.version as version,
			uom.id as uomId,
			uom.code as uomCode,
			uom.name as uomName,
			uom.description as uomDescription,
			value.id as enumeratedValueId,
			value.value as enumeratedValue,
			value.displayValue as enumeratedDisplayValue
		from
			AttributeDefinition attr
			left outer join UnitOfMeasure uom on attr.unitOfMeasureId = uom.id
			left outer join AttributeDefinitionValue value on value.attributeDefinitionId = attr.id
		<where>
			<if test="attributeDefinitionIds != null and attributeDefinitionIds.size() > 0">
			and attr.id in (
			<foreach collection="attributeDefinitionIds" item="value" separator=",">
			#{value}
			</foreach>
			)
			</if>
			<if test="attributeDefinitionCode != null">
				and attr.code = #{attributeDefinitionCode}
			</if>
			<if test="attributeDefinitionDescription != null">
				and attr.description like #{attributeDefinitionDescription}
			</if>
			<if test="unitOfMeasureCode != null">
				and uom.code = #{unitOfMeasureCode}
			</if>
		</where>
	</select>


  <delete id="deleteAttributeDefinition">
    delete from AttributeDefinition where id = #{id} and version = #{version}
  </delete>
  <insert id="insertAttributeDefinition" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	insert into AttributeDefinition (
		code,
		attributeDatatypeId,
		description,
		unitOfMeasureId,
		minimumValue,
		maximumValue,
		createdTimestamp,
		lastModifiedTimestamp,
		version
	) values (
		#{code},
		#{datatype, jdbcType=INTEGER, javaType=AttributeDatatype, typeHandler=com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler},
		#{description},
		#{unitOfMeasure.id},
		#{minimumValue},
		#{maximumValue},
		#{createdTimestamp},
		#{lastModifiedTimestamp},
		1
	)
  </insert>
  <update id="updateAttributeDefinition">
	update
		AttributeDefinition
	set
		code = #{code},
		attributeDatatypeId = #{datatype, jdbcType=INTEGER, javaType=AttributeDatatype, typeHandler=com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler},
		description = #{description},
		unitOfMeasureId = #{unitOfMeasure.id},
		minimumValue = #{minimumValue},
		maximumValue = #{maximumValue},
		lastModifiedTimestamp = #{lastModifiedTimestamp},
		version = version + 1
	where id = #{id} and version = #{version}	 
  </update>
	
	<insert id="insertAttributeDefinitionValue" useGeneratedKeys="true" keyProperty="attributeValue.id" keyColumn="id">
		insert into AttributeDefinitionValue (
			attributeDefinitionId,
			value,
			displayValue
		) values (
			#{attributeDefinitionId},
			#{attributeValue.value},
			#{attributeValue.displayValue}
		)
	</insert>
	<update id="updateAttributeDefinitionValue">
		update
			AttributeDefinitionValue
		set
			attributeDefinitionId = #{attributeDefinitionId},
			value = #{attributeValue.value},
			displayValue = #{attributeValue.displayValue}
		where
			id = #{attributeValue.id}
	</update>
	<delete id="deleteAttributeDefinitionValues">
		delete	from AttributeDefinitionValue
		where  attributeDefinitionId = #{attributeDefinitionId}
		<if test="attributeValueList != null and attributeValueList.size() > 0">
		and id not in (
		<foreach collection="attributeValueList" item="value" separator=",">
		#{value.id}
		</foreach>
		)
		</if> 
	</delete>

	<resultMap id="UnitOfMeasureResultMap" type="com.ferguson.cs.model.attribute.UnitOfMeasure">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="createdTimestamp" jdbcType="TIMESTAMP" property="createdTimestamp" />
		<result column="lastModifiedTimestamp" jdbcType="TIMESTAMP" property="lastModifiedTimestamp" />
		<result column="version" jdbcType="SMALLINT" property="version" />
	</resultMap>

	<select id="findUnitOfMeasureList" resultMap="UnitOfMeasureResultMap">
		select
			uom.id,
			uom.code,
			uom.name,
			uom.description,
			uom.createdTimestamp,
			uom.lastModifiedTimestamp,
			uom.version
		from
			UnitOfMeasure uom
		<where>
			<if test="id != null">
				uom.id = #{id}
			</if>
			<if test="code != null">
				and uom.code = #{code}
			</if>
		</where>
	</select>

	<insert id="insertUnitOfMeasure" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into UnitOfMeasure (
			code,
			name,
			description,
			createdTimestamp,
			lastModifiedTimestamp,
			version
		) values (
			#{code},
			#{name},
			#{description},
			#{createdTimestamp},
			#{lastModifiedTimestamp},
			1
		)
	</insert>

	<update id="updateUnitOfMeasure">
		update UnitOfMeasure set
			code = #{code},
			name = #{name},
			description = #{description},
			lastModifiedTimestamp = #{lastModifiedTimestamp},
			version = version + 1
		where
			id = #{id} and version = #{version}
	</update>
	<delete id="deleteUnitOfMeasure">
		delete from UnitOfMeasure where id = #{id} and version = #{version}
	</delete>


</mapper>
