<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ferguson.cs.product.dao.channel.ChannelMapper">
  
	 <resultMap id="channelResultMap" type="com.ferguson.cs.model.channel.Channel">
		<id column="id" jdbcType="INTEGER"  property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="channelTypeId" jdbcType="INTEGER" property="channelType" typeHandler="com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler" />
		<result column="businessUnitId" jdbcType="VARCHAR" property="businessUnit"  typeHandler="com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler" />
		<result column="isActive" jdbcType="BIT" property="isActive" />
		<result column="createdTimestamp" jdbcType="TIMESTAMP" property="createdTimestamp" />
		<result column="lastModifiedTimestamp" jdbcType="TIMESTAMP" property="lastModifiedTimestamp" />
		<result column="version" jdbcType="SMALLINT" property="version" />
		<association property="taxonomy" javaType="TaxonomyReference">
			<id column="taxonomyId" property="id" />
		</association>	    
	</resultMap>

	<select id="findChannels"  resultMap="channelResultMap">
		select
			id,
			code,
			description,
			channelTypeId,
			businessUnitId,
			isActive,
			taxonomyId, 
			createdTimestamp,
			lastModifiedTimestamp,
			version
		from Channel channel
		<where>
			<if test="channelId != null">
			channel.id = #{channelId}
			</if>    
			<if test="channelCode != null">
			and channel.code = #{channelCode}
			</if>    
			<if test="businessUnit != null">
			and channel.businessUnitId = #{businessUnit, jdbcType=INTEGER, javaType=BusinessUnit, typeHandler=com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler}
			</if>
    	</where>    
	</select>

	<delete id="deleteChannel">
		delete from Channel where id = #{id} and version = #{version}
	</delete>

	<insert id="insertChannel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into Channel (
			code,
			description, 
			channelTypeId,
			businessUnitId,
			isActive, 
			taxonomyId,
			createdTimestamp,
			lastModifiedTimestamp, 
			version
		) values (
			#{code,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR}, 
			#{channelType,jdbcType=VARCHAR, javaType=ChannelType, typeHandler=com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler},
			#{businessUnit,jdbcType=VARCHAR, javaType=BusinessUnit, typeHandler=com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler},
			#{isActive,jdbcType=BIT}, 
			#{taxonomy.id,jdbcType=INTEGER},
			#{createdTimestamp,jdbcType=TIMESTAMP},
			#{lastModifiedTimestamp,jdbcType=TIMESTAMP}, 
			1
		)

	</insert>
	<update id="updateChannel">
		update
			channel
		set
			code = #{code,jdbcType=VARCHAR},
			description = #{description,jdbcType=VARCHAR},
			channelTypeId = #{channelType,jdbcType=VARCHAR, javaType=ChannelType, typeHandler=com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler},
			businessUnitId = #{businessUnit,jdbcType=VARCHAR, javaType=BusinessUnit, typeHandler=com.ferguson.cs.data.mybatis.IntMappedEnumTypeHandler},
			isActive = #{isActive,jdbcType=BIT},
			taxonomyId = #{taxonomy.id,jdbcType=INTEGER},
			createdTimestamp = #{createdTimestamp,jdbcType=TIMESTAMP},
			lastModifiedTimestamp = #{lastModifiedTimestamp,jdbcType=TIMESTAMP},
			version = version + 1
		where
			id = #{id,jdbcType=INTEGER} and version = #{version,jdbcType=SMALLINT}
	</update>


</mapper>
