<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ferguson.cs.product.task.inventory.dao.core.ElectroluxInventoryMapper">

	<resultMap id="electroluxSkuVendorDataMap" type="ElectroluxSkuVendorData">
		<result property="sku" column="sku" />
		<result property="vendorUid" column="vendorUid" />
	</resultMap>
	<select id="getElectroluxSkus" resultMap="electroluxSkuVendorDataMap">
		SELECT s.sku,v.uid vendorUid FROM omc.dbo.Master_Vendor_Inventory mvi
		INNER JOIN mmc.product.family fa
		ON mvi.ProductID = fa.productId
		INNER JOIN mmc.product.finish f
		ON mvi.Finish = f.finish
		INNER JOIN mmc.dbo.Manufacturer m
		ON m.Name = mvi.manufacturer
		INNER JOIN mmc.product.product p
		ON p.finishId = f.id
		AND p.familyId = fa.id
		INNER JOIN mmc.product.upcSku u
		ON p.uniqueId = u.uniqueId
		INNER JOIN mmc.product.sku s
		ON u.skuId = s.id
		INNER JOIN omc.dbo.vendor v
		ON mvi.Vendor = v.vendorid
		WHERE v.uid = #{vendorUid}
		AND p.statusId = 6
	</select>
</mapper>
