<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ferguson.cs.product.task.brand.dao.ProductDistributionMapper">


	<insert id="upsertSystemSource" parameterType="com.ferguson.cs.product.task.brand.model.SystemSource">
	
	UPDATE integration.productDistribution.systemSource 
		SET activeProductsFetched = #{activeProductsFetched},
		obsoleteProductsFetched = #{obsoleteProductsFetched},
		activeProductsLastUpdated = getDate(),
		obsoleteProductsLastUpdated = getDate()
		WHERE sourceName = #{sourceName}

		IF @@ROWCOUNT = 0
		BEGIN
		insert into integration.productDistribution.systemSource(
			sourceName,
			activeProductsFetched,
			obsoleteProductsFetched,
			activeProductsLastUpdated,
			obsoleteProductsLastUpdated
			
		)
		VALUES(
			#{sourceName},
			#{activeProductsFetched},
			#{obsoleteProductsFetched},
			getDate(),
			getDate()
		)
		END
	</insert>
	
	<select  id="getSystemSourceId" parameterType="string" resultType="int">
		select id from integration.productDistribution.systemSource s WITH (NOLOCK) WHERE s.sourceName = #{sourceName}
	</select>

	<insert id="upsertProduct" parameterType="com.ferguson.cs.product.task.brand.model.BrandProduct" >
		UPDATE integration.productDistribution.product  
			SET lastModifiedDate = getDate(),
			productName = #{productName},
			title = #{title},
			description = #{description},
			shortDescription = #{shortDescription},
			manufacturer = #{manufacturer},
			type = #{type},
			retailPrice = #{retailPrice},
			sku = #{sku},
			upc = #{upc},
			isActive = #{isActive},
			dateAvailable = #{dateAvailable},
			dateUpdated = #{dateUpdated},
			status = #{status},
			categoryName = #{categoryName},
			color = #{color},
			brandName = #{brandName}
		WHERE productId = #{productId} and systemSourceId = #{systemSourceId}

		IF @@ROWCOUNT = 0
		BEGIN
		insert into integration.productDistribution.product(
				systemSourceId,
				productId,
				lastModifiedDate,
				productName,
				title,
				description,
				shortDescription,
				manufacturer,
				type,
				retailPrice,
				sku,
				upc,
				isActive,
				dateAvailable,
				dateUpdated,
				status,
				categoryName,
				color,
				brandName
		)
		VALUES(
				#{systemSourceId},
				#{productId},
				getDate(),
				#{productName},
				#{title},
				#{description},
				#{shortDescription},
				#{manufacturer},
				#{type},
				#{retailPrice},
				#{sku},
				#{upc},
				#{isActive},
				#{dateAvailable},
				#{dateUpdated},
				#{status},
				#{categoryName},
				#{color},
				#{brandName}
		)
			
		END
	</insert>
	
	
	
	<select  id="getProductId" parameterType="map" resultType="int">
		select id from integration.productDistribution.product p WITH (NOLOCK) WHERE p.productId = #{productId} and p.systemSourceId = #{systemSourceId}
	</select>
	
	<insert id="upsertJsonReferences" parameterType="map">
		DECLARE @jsonId int;
	<foreach collection="jsonReferences" item="jsonReference" open="" close="" separator=";">
		UPDATE integration.productDistribution.json  
			SET createdDate = getDate(),
				json = #{jsonReference.jsonString}  
		WHERE  jsonTypeId = #{jsonReference.jsonType, typeHandler=com.ferguson.cs.product.task.brand.dao.IntMappedEnumTypeHandler} 
		AND integration.productDistribution.json.id in (select jsonId from integration.productDistribution.productJson j  where integration.productDistribution.json.id = j.jsonId and j.productId=#{productId})
		

		IF @@ROWCOUNT = 0
		BEGIN
			INSERT INTO integration.productDistribution.json (jsonTypeId, createdDate, json)  
			VALUES (#{jsonReference.jsonType, typeHandler=com.ferguson.cs.product.task.brand.dao.IntMappedEnumTypeHandler},
			 		getDate(),
			 		#{jsonReference.jsonString}  
			)

			SELECT @jsonId = SCOPE_IDENTITY();
	
			INSERT INTO integration.productDistribution.productJson(
				productId,
				jsonid
			)
			VALUES (
				#{productId},
				@jsonId
			) 
		END
	</foreach>	
	</insert>
	
	<resultMap id="productJson" type="com.ferguson.cs.product.task.brand.model.ProductJson">
		<id property="id" column="id"/>
		<result property="jsonId" column="jsonId"/>
		<result property="productId" column="productId"/>
	</resultMap>
	
	<select  id="listInactiveProducts" parameterType="int" resultMap="productJson">
		select id, jsonId, productId  from integration.productdistribution.productjson where productId in  (
			select id from integration.productdistribution.product  p 
				where 
					p.systemSourceId =  #{systemSourceId} AND 
					p.lastModifiedDate &lt;&gt; cast(GETDATE() as date) )
					
	</select> 
	
	
	
	<delete  id="deleteInactiveProductJson"  parameterType="map">
		delete from integration.productDistribution.productjson   
		where 
			id in (<foreach collection="ids" separator="," item="id">#{id}</foreach>)
	</delete>
	
	<delete  id="deleteInactiveProducts" parameterType="map" >
		delete from integration.productDistribution.product 
		where 
			systemSourceId =  #{systemSourceId} AND 
			id in (<foreach collection="ids" separator="," item="id">#{id}</foreach>)
	</delete> 
	
	<delete  id="deleteInactiveJson" parameterType="map" >
		delete from integration.productDistribution.json 
		where 
			id in (<foreach collection="ids" separator="," item="id">#{id}</foreach>)
	</delete> 
	
</mapper>